{{#if message}}
    <div class="text-center reg-message">
        <h4 class="alert mt-4">{{message}}</h4>
    </div>
{{/if}}
{{> header}}
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Bootstrap</strong>
        <small class="text-muted">11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Hello, world! This is a toast message.
    </div>
</div>
<div class="container" id="works">
    <div class="col-xs-12">
        <h1 class="text-center mb-5 fw-bold work__title">My Works</h1>
        <div class="row text-center">
            {{#if pictures.length}}
                {{#each pictures}}
                    <div class="col-lg-4  mb-5">
                        <div class="img-box">
                            <div class="demos">
                                <div class="demo-image" data-image="{{picture}}" data-title="{{title}}"
                                     style="background-image: url('../{{picture}}');cursor: url('../img/plus_cursor.png') 25 25, pointer;">
                                </div>
                            </div>
                            {{#if ../admin}}
                                <div>
                                    <form action="/delete" method="POST">
                                        <input type="hidden" value="{{_id}}" name="id">

                                        <button class="close-btn" type="submit">
                                            <i class="fa-solid fa-trash delete-btn"></i>
                                        </button>
                                    </form>
                                </div>
                            {{/if}}
                        </div>
                        {{#if ../user}}
                            <h5 class="mt-3"><a href="{{picture}}" download class="link-light">Download</a></h5>
                        {{else}}
                            <h5 class="mt-3"><a href="/auth/registration" class="link-light">Download</a></h5>
                        {{/if}}
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>

{{> about}}
{{> contact}}

<footer>
    <div class="footer">
        <div class="copyright">
            © 2023 M.W All Rights Reseved
        </div>
    </div>
</footer>

<script src="js/script.js"></script>
<script src="js/intense.js"></script>
<script src="js/formSubmit.js"></script>
<script src="js/three.min.js"></script>
<script src="js/vanta.fog.min.js"></script>
<script>
    var elements = document.querySelectorAll('.demo-image');
    Intense(elements);
</script>

<script>
    VANTA.FOG({
        el: ".header",
        mouseControls: true,
        touchControls: true,
        gyroControls: false,
        minHeight: 200.00,
        minWidth: 200.00,
        highlightColor: 0x121215,
        midtoneColor: 0xb0e0e,
        lowlightColor: 0x171718,
        baseColor: 0x151a1a,
        speed: 3.20
    })
</script>